section {
    background-color: rgb(254, 254, 254);
    padding: 25px;
    display: flex;
    justify-content: center;
    
}


.menu {
    display: flex;
}
.menu li a {
    margin: 30px;
   
    color: rgb(0, 0, 0);
}

li {
    list-style-type: none;
    
}
/*faixa de cor com a frase */
header{
    background-color:#c0705b ;
    color:  #ffffff;
    padding: 10px;
    text-align: center;
}

.img{
    display: flex;
    
    
}

.usuario{
    width: 40px;
    margin: 50px;
    display: flex;
    justify-content: end;
}

nav{

display: grid;
flex-direction: row;
grid-template-columns: repeat(3, 1fr);

}

.usua{
 display: flex;
align-items: center;
padding-top: 10%;
justify-content: right;
}
.carrinho{
    width: 40px;
    margin: 5px;
}

.coracao{
    width: 40px;
    margin: 5px;
}

.lupa{
    display: flex;
    align-items: center;
    padding-top: 10%;
    justify-content: left; 
    margin: 50px;
   
}